
.valesdydis{
width:30%;
}
.nuotraukosdydis{
	width:100%;

}


.fotosize100{
	width: 100%;
}

.blokas2nuotraukostop{
	margin-top:100px;
}

h3 {
		font-family: 'Libre Baskerville', serif;
		font-size:300px black;
		
}


.sriftai{
		font-family: serif;
	}

	
	.boldinimas{
		font-weight: bold;
	}

	
	.pabraukimas{
		text-decoration: underline;
	}
	

	.blockborder
	{border: 40px solid red;
	}

