.grey{
	margin-top:20px
}



.row2{
	margin-bottom:0px
}
.backgroundcol{
	background-color: #000000;
    margin-bottom: 0px;
}
.background2{
	background-color: #bdbdbd;
}

.tabs{
	margin-top: 20px
}

.tab{
	color: grey
}
.margin-bottom{
	margin-bottom:20px
}
.photomindaugas{
	width: 400px;
	margin-top: 50px

}
.borderX{
	border: 20px solid red
}
.map{
	margin: 5px
}


.dropdown-content{
	background-color: #d50000;
}
.photoieva{
	width: 400px;
	margin-top: 20px
}

.tabs{
	background-color: #000000
}

.card-panel{
	background-color: #bdbdbd
}


.color{
	color: black	
}

.border{
	border: 1px solid red
}

.border2{
	border: 20px solid black
	
}
.border3{
    border: 5px solid black
}

.border4{
	border: 40px solid red
}
.margin{
	margin-top: 20px
}

.brand-logo{
	margin-left: 10px;
	font-weight: 900
	
}
.font{
	font-weight: 700
}

.font2{
	font-weight: 700
}

.row3{
	background-color: #000000;
	margin-bottom: 0px;
}

.text3{
	margin-left: 0px;
}


.valesdydis{
	margin-top: 20px;
	margin-left: 0px;
	width: 400px;
	padding: 40px;
	background-color: #d50000

	
}

.btn-small{
	background-color: #bdbdbd
}









.footer2{
	padding-top: 0px;
	background-color: #000000;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}